@model Sahipsiz_Dostlar.Entity.Models.Kategori

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Silme Ekranı</h2>
<hr />
<h3>Bu kayıdı silmek istediğinden emin misiniz?</h3>
<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-default" href="/Adminkategori">Geri Dön</a>
            |
            <input type="submit" value="Onayla" class="btn btn-danger" />
        </div>
    }
</div>
