@model Sahipsiz_Dostlar.Entity.Models.Esbul

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Silme Ekranı</h2>
<hr />
<h3>Bu kayıdı silmek istediğinden emin misiniz?</h3>
<div>
    <h4>Ilanlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Açıklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Açıklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgURL)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-default" href="/Adminesbul">Geri Dön</a>
            |
            <input type="submit" value="Onayla" class="btn btn-danger" />
        </div>
    }
</div>
