@model Sahipsiz_Dostlar.Entity.Models.Ilanlar
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ilanver" id="home">
    <div class="container">
        <div class="row">
            <div class="ayrintilar-box col-lg-9">
                <div class="left"><img class="left-img" src="@Model.ImgURL" alt="Alternate Text" /></div>
                <div class="right">
                    <h2 class="ilan-title">Ad          : @Model.Isim</h2>
                    <h2 class="ilan-title">Yas         : @Model.Yas </h2>
                    <h2 class="ilan-title">Cinsiyet    : @Model.Cinsiyet</h2>
                    <h2 class="ilan-title">Kategorisi  : @ViewBag.Kategori</h2>
                    <h2 class="ilan-title">Türü        : @Model.Tur</h2>
                    <h2 class="ilan-title">İlan Sahibi : @ViewBag.Kullanici</h2>
                    <h2 class="ilan-title">İlan Sahibi : @ViewBag.Iletisim</h2>
                    <h2 class="ilan-title">
                        İlan Durumu : @(Model.SahiplendirmeDurumu == true ? "Sahiplendirildi" : "Sahiplendirilmedi")

                    </h2>
                    <h2 class="ilan-title">İlanın Yeri : @ViewBag.Sehir</h2>
                    <p class="ilan-title-u">Para Talebinde bulununulursa Bizimle İletişime Geçin.</p>
                </div>

            </div>
            <div class="ads-content col-lg-3">
                REKLAM ALANI
            </div>
        </div>
    </div>
</section>