@model Sahipsiz_Dostlar.Entity.Models.Esbul

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Esbul</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SahipId.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SahipId.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sehir.SehirAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sehir.SehirAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Açıklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Açıklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SahiplendirmeDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SahiplendirmeDurumu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
