@model IEnumerable<Sahipsiz_Dostlar.Entity.Models.Esbul>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SahipId.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sehir.SehirAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Açıklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SahiplendirmeDurumu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SahipId.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sehir.SehirAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Isim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cinsiyet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Renk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Açıklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SahiplendirmeDurumu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HayvanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HayvanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HayvanId })
        </td>
    </tr>
}

</table>
